<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin | Login</title>
    <link rel="stylesheet" th:href="@{../../css/login.css}" href="../../static/css/login.css">
    <link rel="icon" th:href="@{../../images/logo.png}" href="../../static/images/logo.png">
</head>
<body>
<div class="login-container">
    <h4><a th:href="@{/}">Back home</a></h4>
        <h2>Admin | Login</h2>
        <form id="form" th:action="@{/admin/login}" method="POST">
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div th:if="${param.error}">
                <h4 style="color: red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h4>
            </div>
            <button type="submit" class="btn">Log in ></button>
        </form>
    </div>
</body>
</html>