<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Animal</title>
    <link rel="stylesheet" th:href="@{../../css/animal.css}" href="../../static/css/animal.css">
    <link rel="icon" th:href="@{../../images/logo.png}" href="../../static/images/logo.png">
</head>
<body>
<div class="login-container">
    <h4><a href="#" onclick="history.back();">Go back</a></h4>
    <h2>DELETE ANIMAL</h2><br>
    <form th:action="@{/admin/delete-animal}" th:object="${animal}" method="post" enctype="multipart/form-data">
        <label>Common Name:</label>
        <input type="text" th:field="*{animalName}"  name="animalName" /> <br>
        <label>Scientific Name:</label>
        <input type="text" th:field="*{scientificName}" name="scientificName" /> <br>
        <label>Population:</label>
        <input type="text" th:field="*{population}" name="population" /> <br>
        <br>
        <label>Animal's Park:</label>
        <select th:field="*{parkName}" name="animalParkName"  >
            <option value=""></option>
            <option value="Akagera">Akagera National Park</option>
            <option value="Nyungwe">Nyungwe National Park</option>
            <option value="Volcanoes">Volcanoes National Park</option>
        </select>
        <br>
        <label>Animal Image:</label>
        <input type="file" th:field="*{photo}" name="animalImage" accept=".jpg,.jpeg,.png" >
        <br><br>
        <button type="submit">Delete</button><br>
    </form>
</div>
</body>
</html>