<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User | Home Page</title>
    <link rel="stylesheet" th:href="@{../../css/user-home.css}" href="../../static/css/user-home.css">
</head>
<body>
<div style="text-align: center;">
    <nav>
        <ul>
            <li><a th:href="@{/user/home}">Home</a></li>
            <li class="dropdown">
                <a href="#">National Parks</a>
                <ul>
                    <li><a th:href="@{/user/akagera}">Akagera National Park</a></li>
                    <li><a th:href="@{/user/nyungwe}">Nyungwe National Park</a></li>
                    <li><a th:href="@{/user/volcanoes}">Volcanoes National Park</a></li>
                </ul>
            </li>
            <li><a th:href="@{/user/book-visit}">Book a visit</a></li>
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            <li>Welcome, [[${#request.userPrincipal.principal.username}]]</li>
            <li>
                <form th:action="@{/user/logout}" method="post">
                    <button type="submit">logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <br><br><br>

</div>
</body>
</html>