@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    font-family: Poppins,sans-serif;
}

body{
    background-color: #f4f5ff;}

nav {
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 3px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
li {
    margin: 0 10px;
    padding: 20px;
    position: relative;
}
.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    width:250px;
}

.dropdown:hover ul {
    display: block;
}
a {
    color: #fff;
    text-decoration: none;
}

.dropdown:hover > a {
    background-color: #000;
}

.btn {
    background-color: #000;
    color: white;
    /*padding: 10px 20px;*/
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #000;
}

h1{
    text-align: left;
    font-size: 38px;
    font-weight: 700;
    text-decoration: underline;
}